.user-badge {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    background: #2a47ff;
    color: #ffffff;
    font-size: 1.2rem;
}
#logoutButton {
    position: absolute;
    top: 56px;
    right: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    background: #ff4b4b;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
#logoutButton:hover {
    background: #ff1a1a;
}
#scoreInput {
    position: absolute;
    top: 96px;
    right: 16px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    width: 120px;
}
#submitScoreButton {
    position: absolute;
    top: 175px;
    right: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    background: #4caf50;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
#submitScoreButton:hover {
    background: #45a049;
}
#LoginButton, #SignUpButton {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    background: #008cba;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
#loginButton:hover, #signupButton:hover {
    background: #007bb5;
}